.navbar {
  background-color: var(--mantine-color-gray-9);
  border-right: 1px solid var(--mantine-color-gray-8);
}

.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--mantine-color-gray-8);
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: var(--mantine-color-gray-3);
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--mantine-color-gray-8);
    color: var(--mantine-color-white);
  }

  &[data-active] {
    background-color: var(--mantine-color-blue-6);
    color: white;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--mantine-color-gray-3);
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--mantine-color-gray-8);
    color: var(--mantine-color-white);
  }
}
